<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="navbar">
  <a routerLink="/blog"><i class="fa fa-globe"></i> Blog</a>
    <a routerLink="/footer" ><i class="fa fa-fw fa-envelope" routerLink="/footer"></i> Contact</a>
    <a routerLink="#"><i class="fa fa-fw fa-user"></i> Login</a>
    <a routerLink="/main"><i class="fa fa-fw fa-search" ></i> Some products</a>
    <a class="active" routerLink="/header"><i class="fa fa-fw fa-home" ></i> Home</a>
    <img src="assets/img/logo-paypal.png" class="logo" >
  </div>
  
   